.App {
  text-align: center;
  height: 180vmin;
  background-image: url("sun.gif");
  background-position: top;
  background-size: cover;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
}
