/* Fonts */
@font-face {
  font-family: 'Astron Boy Italic';
  src: url('./fonts/astron boy italic.ttf');
}

@font-face {
  font-family: 'Baveuse3D';
  src: url('./fonts/Baveuse3D.ttf');
}

@font-face {
  font-family: 'Blazed';
  src: url('./fonts/Blazed.ttf');
}

@font-face {
  font-family: 'SnowtopCaps';
  src: url('./fonts/SnowtopCaps.otf');
}

@font-face {
  font-family: 'Char';
  src: url('./fonts/Char.ttf');
}

@font-face {
  font-family: 'KarmaFuture';
  src: url('./fonts/KarmaFuture.ttf');
}

@font-face {
  font-family: 'Rain';
  src: url('./fonts/Rain.ttf');
}


/* Body */
body {
  margin: 0;
  padding: 0;
  font-family: 'KarmaFuture';
  font-size: 20px;
}

/* Nav bar */
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50px;
  grid-gap: 6em;
  align-items: center;
  text-align: center;
  border-bottom: 4px solid black;
  background: lightblue ;
}


/* City Page */
.city-name {
  padding-top: 0.5em;
  font-size: 5em;
  font-family: 'Baveuse3D';
}

.info {
  font-family: 'KarmaFuture';
  font-size: 2.5em;
}

.info-maxTemp {
  font-family: 'Blazed';
  font-size: 2.5em;
  color: OrangeRed;
}

.info-minTemp {
  font-family: 'SnowtopCaps';
  font-size: 2.5em;
  color: DodgerBlue;
}

.info-Temp {
  font-family: 'Rain';
  font-size: 2.5em;
}

.info-windSpd {
  font-family: 'Astron Boy Italic';
  font-size: 2.5em;
}

.info-pop {
  font-family: 'Rain';
  font-size: 2.5em;
  color: LightSlateGrey;
}

.info-rh {
  font-family: 'Rain';
  font-size: 2.5em;
  color: SaddleBrown;
}


/* Login Form */

.loginform {
  padding-top: 70px;
  background-position: top;
}

input {
    width: 20%;
    padding: 8px 12px;
    margin: 30px 10px;
    box-sizing: border-box;
    outline: none;
    height: 100%;
}

input[type="submit"]{
  width: 65px;
  background: black;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  text-shadow:none;
  outline: none;


}

input[type="submit"]:hover {
  background: #016ABC;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  text-shadow: none;
  outline: none;
}

/* Fav Button  */

.favbutton {
  border-style: none;
  background-color: transparent;
  background-image: url('https://clipart.info/images/ccovers/1518056312pink-heart-transparent-background.png');
}

.favbutton:hover {
  background: white;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  text-shadow: none;
}

.favbuttonImg {
  height: 70px;
  width: 70px;
}

/* Fav List */

.favedCityTitle {
  padding-top: 4em;
  font-size: 2em;
  font-family: 'KarmaFuture';
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.city-name-fl {
  padding-top: 0.5em;
  font-size: 1.5em;
  font-family: 'Baveuse3D';
}

.info-fl {
  font-family: 'KarmaFuture';
  font-size: 0.3em;
}

.info-maxTemp-fl {
  font-family: 'Blazed';
  font-size: 0.4em;
  color: OrangeRed;
}
.info-minTemp-fl {
  font-family: 'SnowtopCaps';
  font-size: 0.4em;
  color: DodgerBlue;
}
.info-Temp-fl {
  font-family: 'Baveuse3D';
  font-size: 0.4em;
}
